export(attStats)
export(Boruta)
export(getSelectedAttributes)
export(plotImpHistory)
export(TentativeRoughFix)
S3method(Boruta,default)
S3method(Boruta,formula)
S3method(plot,Boruta)
S3method(print,Boruta)
